<section>
    <h2 class="card-title"> All reviews </h2>
    {{#each reviews as |review|}}
    <ul>
        <li class="card-header">Review title: <a href="./reviews/{{review.id}}"> {{review.review_title}} </a></li>
        {{!-- <li>Review: {{review.review_text}}</li> --}}
        <li>For: {{review.game.game_name}}</li>
        <li>by: {{review.user.username}}</li>
        <li>On: {{format_date review.review_date}}</li>
    </ul>  
        
    {{/each}}
    

</section>