<section>
    <p class="card-title"> This is all-reviews.handlebars!</p>
    {{#each reviews as |review|}}
    <ul>
        <li class="card-title">Review title: {{review.review_title}}</li>
        <li>Review text: {{review.review_text}}</li>
        <li>Review date: {{review.review_date}}</li>
        <li>Review game name: {{review.game.game_name}}</li>
        <li>Review user name: {{review.user.username}}</li>
    </ul>  
        
    <a href="/reviews/update/{{review.id}}">
        <h3>Update review</h3>
    </a>
    {{/each}}
    

</section>