<section>
  <h2 class='card-title'> All Categories</h2>
  <ul>
    {{#each categories as |category|}}
    {{log category}}
      <li>Category:
        <a
          href='./categories/{{category.id}}'
        >{{category.category_name}}</a></li>
      <li class="fs-6">Genre: <a href="./genres/{{category.genre_id}}"><span class="badge text-bg-light rounded-pill ">{{category.genre.genre_name}}</badge></a></li>
      <br />
    {{/each}}

  </ul>
</section>