<section>
    <h2 class="card-title">Friends</h2>
    <ul>
        {{#each friends as |friend|}}
               <a href="./friends/{{friend.user.id}}"> <li><span class="badge bg-light text-black fs-6 m-2 rounded-pill ">{{friend.user.username}}</span></li></a>
        {{log friend}}
        {{/each}}
        </br>
    </ul>
        <h3>Add a friend?</h3>
<form id ='add-friend-form'>
            <Label>Username</Label></br>
            <select id="myFriend">
                {{#each users as |user|}}
                    <option value="{{user.id}}">{{user.username}}</option>
                {{/each}}
            </select>
            </br>
            <button type="submit" class="btn btn-primary m-2" id="add-friend">Add Friend</button>
        </form>
</section>

<script src="/js/addfriend.js"></script>