<section>
    <h2 class="card-title">Friends</h2>
    <ul>
        {{#each friends as |friend|}}
               <a href="./friends/{{friend.user_id}}"> <li>{{friend.user.username}}</li></a>
        {{log friend}}
        {{/each}}
        </br>
        <h3>Add a friend?</h3>
        <form id ='add-friend-form'>
            <Label>Username</Label></br>
            <select id="myFriend">
                {{#each users as |user|}}
                    <option value="{{user.id}}">{{user.username}}</option>
                {{/each}}
            </select>
            </br>
            <button type="submit" class="btn-primary" id="add-friend" class="btn btn-primary">Add Friend</button>
        </form>
    </ul>
</section>

<script src="/js/addfriend.js"></script>