<div class='row align-items-start'>
  <div class='col'>
    <h2 class='card-title'> All Games</h2>
    <h3>Choose a Game to add a review!</h3>
    <ul>
      {{! will show the games }}
       <div class="card-container col-sm-6 mb-3 mb-sm-0 d-inline-flex flex-wrap" style="width: 90%">

      {{#each games as |game|}}
       <div class="card m-2 border border-primary" style="width: 18rem;">
        <li class="card-header bg-primary-subtle fs-4"><a href='./games/{{game.id}}'>{{game.game_name}}</a></li>
        <li class="card-body d-flex align-items-center" >In: <a href='./categories/{{game.category.id}}'><span class="badge bg-primary-subtle text-primary fs-6 m-2 rounded-pill ">{{game.category.category_name}}</span></a></li>
        <br />
        </div>
      {{/each}}
      </div>
    </ul>
  </div>
  <div class='col'>
    <h3>Don't see your game here?</h3>
    <button  class="btn-primary btn" id='addbutton'>Add a Game</button><br /><br />

    <form id='add-game-form'>
      <div class="form-group">
      <label class="form-label text-start">Game Name:</label><br />
      <input type='text' id='new-game' placeholder='Name of Game' class="form-input m-2 form-control"/><br /><br />
      <label class="form-label text-start">Category:</label><br />

      <select id='myCategories'>
        {{log categories}}
        {{#each categories as |category|}}
          <option value='{{category.id}}'>{{category.category_name}}</option>

        {{/each}}
      </select>
      <br />

      {{! <input type='text' id='gamecategory' value='category' /><br /> }}
      <label class="form-label text-start">Developer:</label><br />
      <select id='myDevelopers'>
        {{#each developers as |developer|}}
          <option value='{{developer.id}}'>{{developer.developer_name}}</option>
        {{/each}}
      </select>
      <br />
      {{! <input type='text' id='developer' value='name of developer' /><br /><br /> }}
      <label class="form-label text-start">Year Created:</label><br />
      <input type='text' id='date' placeholder='yyyy' class="form-input m-2 form-control"/><br /><br />
      <button type='submit' class='btn btn-primary'>Submit</button>
      </div>
    </form>
  </div>
</div>

<script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>
<script src='/js/addgame.js'></script>