{{!-- will show the games --}}
<section>
    <h2 class="card-title">Game name: {{game.game_name}}</h2>
    
    
    <p>Game developer: <a href='../developers/{{game.developer_id}}'>{{game.developer.developer_name}}</a></p>
    <p>Game category: <a href='../categories/{{game.category_id}}'> {{game.category.category_name}}</a></p>

    <p> Available Game platforms: </p>
    <ul>
    {{#each gamePlatforms as |gamePlatform|}}

        <li><a href='../platforms/{{gamePlatform.platform_id}}'>{{gamePlatform.platform.platform_name}}</a></li>
    {{/each}}
    </ul>

    <! form to add a platform with dropdown menu of all platforms> 
<form id='add-platform-form'>
    <label>Add Platform to this Game:</label><br />
    <input id='game_id' value='{{game.id}}' hidden></input>
    </br>
    <select id='new-platform'>

    {{#each platforms as |platform|}}
        <option value='{{platform.id}}'>{{platform.platform_name}}</option>
    {{/each}}
    </select>
    </br>
    <button type="submit" id="add-platform" class="btn btn-primary m-2">Add Platform</button>
</form>

    <a href="../reviews/add/{{game.id}}" class="btn btn-primary m-2">Add a review</a>
  <h3>Reviews: </h3>


    <ul>
    {{#each reviews as |review|}}

        <li>Review title: <a href='../reviews/{{review.id}}'>{{review.review_title}}</a></li>
    {{/each}}
    </ul>
</section>

<script src="/js/addplatform.js"></script>