{{!-- will show the games --}}
<section>
    <h2 class="card-title">Game name: {{game.game_name}}</h2>
    
    
    <p>Game developer: {{game.developer.developer_name}}</p>
    <p>Game category: {{game.category.category_name}}</p>

    <p> Available Game platforms: </p>
    <ul>
    {{#each gamePlatforms as |gamePlatform|}}
        <li>{{gamePlatform.platform.platform_name}}</li>
    {{/each}}
    </ul>

    <! form to add a platform with dropdown menu of all platforms> 
<form id='add-platform-form'>
    <label>Add Platform to this Game:</label><br />
    <input id='game_id' value='{{game.id}}' hidden></input>
    </br>
    <select id='new-platform'>
    {{#each platforms as |platform|}}
        <option value='{{platform.id}}'>{{platform.platform_name}}</option>
    {{/each}}
    </select>
    </br>
    <button type="submit" id="add-platform" class="btn btn-primary">Add Platform</button>
</form>

    <a href="../reviews/add/{{game.id}}">Add a review</a>
  <h3>Reviews: </h3>


    <ul>
    {{#each reviews as |review|}}
        <li>Review title: {{review.review_title}}</li>
    {{/each}}
    </ul>
</section>

<script src="/js/addplatform.js"></script>