<section class=" fs-2"> 
    <h2 class="fs-2">This is my list of reviews: </h2>
    <div class="row">
<div class="card-container col-sm-6 mb-3 mb-sm-0 d-inline-flex  flex-wrap">
    {{#each reviews as |review|}}
    <div class="row-sm-6">
        <div class="card m-2 border border-primary" style="width: 25rem;">
          <div class="card-body">
  <a class="fs-4 card-header text-primary  bg-primary-subtle " href="/reviews/update/{{review.id}}"> {{review.review_title}} </a>
  <figure>
  <blockquote class="fs-4">"{{review.review_text}}"</blockquote>
  <figcaption class="blockquote-footer">{{format_date review.review_date}}
    </figcaption>
  </figure>
    <p><a class="fs-6 btn btn-danger" href="/reviews/delete/{{review.id}}">Delete this review?</a></p>
    </div>  
        </div>
    </div>
    {{/each}}
</div>
</div>
</section>