{{!-- will show reviews --}}
<section>
    <p>This is review.handlebars</p>
    <ul>
        <li>Review title: {{review.review_title}}</li>
        <li>Review text: {{review.review_text}}</li>
        <li>Review user name: {{review.user.username}}</li>
        <li>Review game name: {{review.game.game_name}}</li>
        <li>Date of review: {{review.review_date}}</li>
    </ul>
</section>