{{!-- will show reviews --}}
<section>
    <p>This is review.handlebars</p>
    <ul>
        <li>Review title: {{review.review_title}}</li>
        <li>Review text: {{review.review_text}}</li>
        <li>Review user id number: {{review.user_id}}</li>
        <li>Review game id number: {{review.game_id}}</li>
        <li>Date of review: {{review.review_date}}</li>
    </ul>
</section>