<section>
    <p class="card-title">This is updateReview.handlebars</p>
    <ul>
        <li class="card-title">Review title: {{review.review_title}}</li>
        <li>Review text: {{review.review_text}}</li>
        <li id="user">Review user name: {{review.user.username}}</li>
        <li id="gamename">Review game name: {{review.game.game_name}}</li>
        <li>Date of review: {{review.review_date}}</li>
    </ul>
</section>

<form>
  <label>New Review Title:</label><br>
  <input type="text" id="title" value="review title"><br>
  <label for="review">New Review:</label><br>
  <input type="text" id="newreview" value="review text"><br><br>
  <input type="submit" id="submit" value="Submit">
</form>

<script src="../public/js/updatereview.js"></script>
